<h1>To-Do List</h1>
<ul>
  <% @tasks.each do |task|%>
    <li>
      <%= link_to task.title, "tasks/#{task.id}" %>
      <%= "DONE" if task.completed %>
    </li>
  <% end  %>
</ul>

<%= link_to "Create New Task", "tasks/new" %>
